/* General Styles */
.board-body {
  font-family: 'Roboto', sans-serif;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  box-sizing: border-box;
  margin: 20px auto; /* Center the container */
  
  
}

/* Card Styles */
.board-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

  background:#e0dddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.board-profile-image {
  border-radius: 50%; /* Create a circular profile image */
  margin-right: 10px;
  width: 70px; /* Adjusted profile image size */
  height: 70px; /* Adjusted profile image size */
  object-fit: cover; /* Maintain aspect ratio for the image */
}

/* Sidebar Styles */
.sidebar {
  width: 26%;
  background:#fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 4%; /* Adjusted margin for better spacing */
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #fff; /* Text color for better visibility */
}

.sidebar button {
  margin-bottom: 8px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3cb3b3;
  transition: background-color 0.3s ease;
  width: 100%;
  color: #fff; /* Text color for better visibility */
}

.sidebar button:hover {
  background: #1e4f66;
}

/* Board Styles */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Adjusted to evenly space the contents */
  width: 70%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: linear-gradient(to right, #c1c5c7, #d2d8d8);

  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  background: #ffffff;
  width: 100%;
  height: 83px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: space-around;
  transition: 0.3s ease-in;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-profile:hover {
  background: linear-gradient(rgb(197, 211, 211), rgb(200, 226, 226) 60%);
  transform: scale(1.03); /* Slight increase in size on hover */
  transition: background 0.3s ease, transform 0.3s ease;
}

/* Header Styles */
.header-text {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.pagination button.active {
  background: linear-gradient(rgb(3, 163, 163), rgb(23, 197, 142) 60%);
  color: white;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Selection Dropdown Styles */
.selection-dropdowns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Adjusted the margin-right to separate the dropdowns */
.dropdown {
  margin-right: 10px;
  display: flex; /* Added to make child elements flex */
  align-items: center; /* Vertically center the child elements */
}

.dropdown label {
  font-size: 14px;
  margin-right: 5px; /* Added margin-right for better spacing */
}

.dropdown select {
  width: 150px;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
}

/* Example Gradient Background for user profiles */
.user-details {
  display: flex;
  align-items: center;
  border-width: 40%;
  height: 100%;
}

.profile-image {
  border-radius: 50%; /* Create a circular profile image */
  margin-right: 10px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .board {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    margin-right: 0;
  }
}
